{% load static %}
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="{% static 'css/404.css' %}">
  	<header class="header">
      <div class="logo-title">
          <img src="{% static 'admin/img/puplogo88x88.png' %}" alt="PUP Logo"></img>
          <span> PUP SpeechSafe</span>
      </div>
    </header>
<body>         
<h1>Ooops!</h1>

<h1>404</h1>
</body> 
    <footer class="footer">
      <div>
        <p>PUPSS values privacy. All data is securely stored, used only for this service, and never shared. It strictly secures every data from unauthorized access.</p>
        <span>©2025 PUP SpeechSafe</span>
      </div>
    </footer>
 
</html>