{% extends 'base.html' %}
{% load static %}

{% block title %} PUPSS {% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/404.css' %}">

<h1 class="main-title">Sorry, the page you are looking for does not exist.</h1>
<div class="wrapper">   
    <section class="cards"> 
        <div class="error">
            <img src="{% static 'img/4041.png' %}"/>
        </div>
    </section>    
</div>
<p class="helper-title">Don't worry, we'll get you back on track by clicking the button at the top of the page.</p>

{% endblock %}