{% extends 'base.html' %}
{% load static %}

{% block title %} PUPSS | Dashboard {% endblock %}
{%block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">

<section class="cards"><h1 class="main-title">PUPSS Dashboard</h1></section>

<section class="cards">
        <div class="board">
            <div class="row">
                <img src="{% static 'img/add_user.png' %}" alt="login icon">
                <span>Users</span> 
                <h1>2</h1> 
            </div>
            <div class="row">
                <img src="{% static 'img/add_group.png' %}" alt="login icon">
                <span>Groups</span> 
                <h1>3</h1> 
            </div>
            <div class="row"> 
                <img src="{% static 'img/add_report.png' %}" alt="login icon">
                <span>Hate list</span> 
                <h1>3</h1> 
            </div>
         </div>
</section>

{% endblock %}
