{% extends 'base.html' %}
{% load static %}
{% block title %} PUPSS | FILENGHateDector {% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/hatedetector.css' %}">

    <h1 class="main-title">PUPSS FILENGHateDetector Tool</h1>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <section class="card">
        <div class="square" id="drop-zone">
            <div class="row">
                <h1 id="hide-text">Drag and Drop Files</h1>
                <img id="logo" src="{% static 'img/txt.png' %}" alt="Logo" style="display: none;" />
                <p id="file-name" style="display: none;"></p>
            </div>
            <div class="row" id="hide-text">
                <input type="file" id="file-input" multiple style="display: none;"></input>
                <a id="hide-button">UPLOAD</a>
            </div>
            <div class="row">
                <h3 id="hide-msg">Or a file from your computer</h3>
            </div>
            <div class="row">
                <h4 id="hide-msg-info">This tool will automatically process after uploading.</h4>
            </div>
        </div>
    </section>
</form>
<script src="{% static 'js/upload.js' %}"></script>
{% endblock %}