{% extends 'base.html' %}
{% load static %}

{% block title %} PUPSS Admin | Change Password {% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/admin.css' %}">

<h1 class="main-title">Account Security Management</h1>

<div class="wrapper">
    <div class="row justify-content-center">
        <div class="form-wrapper-center">
            <div class="custom-form-card">
                
                <div class="card-header-admin">
                    <h4>Change Password for: {{ user_obj.username }}</h4>
                </div>
                
                <div class="card-body p-4">
                    <p class="form-helper-text">Forcefully assign a new security credential set to this account record. The user will be required to utilize these updated parameters upon their next authentication instance.</p>

                    <form method="POST">
                        {% csrf_token %}
                        
                        <div class="mb-4 operational-form-fields">
                            {{ form.as_p }}
                        </div>

                        <hr style="border-color: var(--border-light);">

                        <div class="d-flex justify-content-end gap-2 mt-4">
                            <a href="javascript:history.back()" class="btn-cancel">Cancel</a>
                            <button type="submit" class="btn-submit">Submit</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}