/* Dashboard Page*/

.main-title {
  text-align: center;
  color: var(--main-title);
  margin: 25px;
  font-size: 28px;
}

/* Cards Section */
.cards {
  display: flex;
  width: 500px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.board {
  flex: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: var(--card-secondary);
  border-radius: 20px;
}

.row {
  display: flex;
  max-width: 85%;
  margin: 20px auto;
  background: var(--card-primary);
  border-radius: 50px;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
}

.row img {
  margin: 3%;
  padding-left: 10px;
  width: 100px;
  height: 100px;
}

.row span {
  margin-left: 10%;
}

.row h1 {
  margin-left: 25%;
  text-align: right;
}