/* Hate Dector Page */

.main-title {
    text-align: center;
    color: var(--main-title);
    margin: 25px;
    font-size: 28px;
}

.card {
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    height: 520px;
    margin: 0 auto;
    margin-top: 20px;
    background: var(--card-secondary);
    border-radius: 50px;
}

.square {
    flex: auto;
    max-width: 85%;
    height: 52%;
    margin: 70px auto;
    padding: 0px;
    border: 12px solid;
    border-color: var(--primary-fg);
    background: var(--card-secondary);
    align-items: center;
}

.row {
    display: flex;
    width: 100%;
    margin: 25px auto;
    align-items: center;
    flex-direction: column;
}

.row h1 {
    font-size: 30px;
    font-weight: bold;
}

.row a {
    background: var(--primary);
    border-radius: 50px;
    padding: 20px;
    width: 300px;
    height: 40px;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.row h3 {
    font-size: 18px;
    background: var(--card-secondary);
    padding: 10px;
    width: 300px;
    height: 15px;
    text-align: center;
}

.row h4 {
    font-size: 15px;
}

#drop-zone {
  border-radius: 1px;
  padding: 10px;
  text-align: center;
  transition: background-color 0.3s;
}

#drop-zone.dragover {
  background-color: #f0f8ff;
}

#logo {
  width: 150px;
}
