/* LOGIN FORM */

/* Cards Section */
.cards {
  display: flex;
  width: 400px;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}

.login-header {
  flex: auto;
  max-width: 100%;
  background: var(--card-secondary);
}

.login-card {
  flex: auto;
  max-width: 100%;
  background: var(--card-primary);
  display: flex;
  flex-direction: column;
  text-align: center;
}

.main-title {
  text-align: center;
  color: var(--main-title);
  margin: 35px;
  margin-bottom: 55px;
  font-size: 28px;
}

.icon img {
  margin-left: 140px;
  padding: 10px;
  width: 100px;
  height: 100px;
}

.form-row {
  padding: 10px;
  margin: 10px auto;
}

.submit-row {
  padding: 10px;
  margin: 10px auto;
}

#id_username {
  padding: 8px;
  width: 80%;
  box-sizing: border-box;
}

#id_password {
  padding: 8px;
  width: 80%;
  box-sizing: border-box;
}

/* FORM BUTTONS */

.button, input[type=submit], input[type=button], .submit-row input, a.button {
    background: var(--secondary);
    padding: 10px 15px;
    border: none;
    border-radius: 7px;
    color: var(--primary-fg);
    cursor: pointer;
    font-weight: bold;
    transition: background 0.15s;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .cards {
    flex-direction: column;
    align-items: center;
  }
}